body 
    {
        background-image:url(../images/Rock.jpg);
    }
h1 
    {
        font-family: monospace;
        text-align: center;
        font-weight: bold;
        color: goldenrod;
        text-transform: uppercase;
        font-size: 35px;
    }
.sidebar
    {
        position: absolute;
        top:20%;
        right:80%;
        border-style: solid;
        background-color: #8a6328;
        color: goldenrod;
        margin-top: 8%;
        padding-right: 20px;
    }
.nav 
    {
        float: right;
        font-size: 17px;
        background-color:#8a6328 ;
        border-style: solid;
        border-color: goldenrod;
        padding-top: 30px;
        color: goldenrod;
        margin-top: 8%;


    }
p   
    {   position: absolute;
        border-style: solid;
        border-color: goldenrod;
        border-width: 20px;
        margin-left:19%;
        margin-right:29%;
        padding-right: 5px;
        font-size:20px;
        color: #e6eee6;
        text-indent: 10px;
        background-color: #2042b2;
        opacity: 0.5;
    }
h2 
    {
        text-align: center;
        padding-left: 15%;
        padding-top: 2%;
    }
