body 
    {
        background-image:url(../images/Rock.jpg);
    }
h1 
    {
        font-family: monospace;
        text-align: center;
        font-weight: bold;
        color: #191627;
        text-transform: uppercase;
        font-size: 35px;
    }
.sidebar
    {
        position: absolute;
        top:20%;
        right:80%;
        border-style: solid;
        background-color: #8a6328;
        color: goldenrod;
    }
.nav 
    {
        float: right;
        font-size: 17px;
        background-color:#8a6328 ;
        border-style: solid;
        border-color: goldenrod;
        padding-top: 10px;
    }